main{
    display: flex;
    flex-direction: column;
    width:100vw;
    justify-content: center;
    align-items: center;
    // padding-top:100px ;
    
    .topNav{
        display: flex;
        width: 100%;
        padding: 10px 20px;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        margin-top: 7px;
        background-color: #ffff;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
        
        .greetDate{
            display: flex;
            flex-direction: column;
            gap: 5px;
            .greet{
                font-family: "Poppins";
                font-weight: 500;
                font-size: 16px;
                text-transform: uppercase;
                
            }
            .date{
                font-size: 12px;
                font-weight: 400;
            }

        }

        .actionsLog{
            display: flex;
            gap: 30px;
            .registration{
               
          button{
            padding: 10px 24px 10px 16px;
            gap: 8px;
            opacity: 0px;
            background-color: var(--deep-blue);
            border: none;
            color: var(--white);
            display: flex;
            place-items: center;
            font-size: 16px;
            font-weight: 500;
            border-radius: 7px;
            cursor: pointer;
            transition: background-color linear .2s;
            img{
                width: 16px;
            }
            &:hover{
                background-color: var(--button-background);
            }
          }


            }
            .notifications{
                display: flex;
                margin: 0 auto;
                justify-content: space-between;
                align-items: center;
                .notice, .message{
                    background-color: rgba(0, 0, 0, 0.16);
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    
                    border-radius: 30px;
                    img{
                        margin: 0 auto;
                        width: 12px;
                        /* height: 15px; */
                    }
              &::after{
                
                position: absolute;
                top: 0;
            right: 0;
             margin: 0 auto;
            content: "1";
            background-color: red;
            width: 15px;
            height: 15px;
            font-size: 7px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white);
              }
                }
            }
            .profileDetails{
                display: flex;
                gap: 12px;
                align-items: center;
                .image{
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }
.conDetails{
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .name{
        font-weight: 400;
        font-size: 16px;
    }
    .matricNum{
        font-size: 10px;
        font-weight: 400;
        opacity: .7;
    }

    .profileOpt{
        font-family: "Poppins";
        font-size: 14px;
        position: absolute;
        top: 45px;
        width: 140px;
        left: -50px;
        display: none;
        flex-direction: column;
        background-color: var(--white);
        z-index: 1;
        padding: 10px 0;
        a, .logout{
            padding:10px 35px;
            color: black;
            text-decoration: none;
            transition: all .2s ease-in;
            font-weight: 500;
            &:first-child{
                // margin: 10px 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.203);
           
           }
            &:hover{
                background: rgba(204, 204, 204, 1);
                ;
            }
        }
    }
}
.chevy{
    cursor: pointer;
    img{
        width: 20px;
        height: 20px;
    }
}
            }
        }
    }
 }


 .disable{
    opacity: .5;
    pointer-events: none;
 }

 .logout{
    cursor: pointer;
    &:hover{
        opacity: .8;
    }
 }