.dummy{
    height: 100%;
    position: fixed;
    .dummyContainer{
        height: 100%;
        width: 200px;
        .dummyBlue{
            width: 100%;

            .dummySideBar{
                width: 80%;
                
            }
        }

    }
}

@media (min-width:430px) {
    .dummy{
        display: none !important;
    }
}