.Sidebar{
    display: none;
}
.disable{
    // pointer-events: none;
    pointer-events: none !important;
}

.css-1086bdv-MuiPaper-root-MuiAccordion-root{
    box-shadow: none !important;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper,.css-wf16b5 {
background-color: rgba(0, 0, 128, 1) !important;
color: #ffff !important;
overflow-y: scroll;


&::before{
    content: " ";
    background-color: rgba(250, 166, 44, 1);
    width: 10px;
    height: inherit;
    position: fixed;
    z-index: 1;
}
}

.css-1086bdv-MuiPaper-root-MuiAccordion-root, .css-1aj41gs{
    background-color:transparent !important;
    color: #ffff !important;
    padding-left: 5px;
    // fill: red !important;
}
.css-10hburv-MuiTypography-root, .css-yb0lig {
    font-size: .7rem !important;
    
}

.css-ahj2mt-MuiTypography-root, .css-9l3uo3 {
    font-size: .8rem !important;
    
}

.css-i4bv87-MuiSvgIcon-root, .css-vubbuv{
    fill: white !important;
 
}

.menuButton, .css-1a1y772{
    .css-i4bv87-MuiSvgIcon-root, .css-vubbuv{
        fill:currentColor !important;
    }
}

.css-15v22id-MuiAccordionDetails-root, .css-u7qq7e{
padding-top: 0 !important;
}

button:focus, button:focus-visible{
    outline: none !important;
}


.logoContainer{
    width: fit-content;
    margin: 30px auto;
    img{
        width: 90px;
    }
}

.logoutContainer{
    position: fixed;
    bottom: 0;
    width: fit-content;
    // width: 200px;
    margin-bottom: 10px;
    margin-left: 20px;
    .logOut{
        // position: fixed;
        font-size: 10px;
        width: fit-content;
        margin: 0 auto;
        border: 1px solid #fff;
        border-radius: 10px;
        text-align: center;
        padding:7px 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition: all .4s linear;
        img{
            width: 15px;
        }
    
        &:hover{
            gap: 15px;
        }
    }
}
@media (max-width:430px) {
    .Sidebar{
        display: block;
    }
}


.dashholder{
    margin-left: 10px;
    

    a{
        color: #fff;
        font-weight: 300;
        padding: 5px 0;
        padding-left: 10px;

    }
}

.activeBar{
    background-color: rgb(255, 255, 255);
    // width: ;
    display: block;
  
    border-radius: 0 10px 10px 0;
    color: blue !important;
    font-weight: 600 !important;
}