.introductionLetter{
    display: flex;
}

.activen{
color: royalblue !important;
    background-color: white;
}

.container{
    width: 100%;
    margin: 0 auto;
    

    .topHead{
        width: 100%;
        
   display: flex;
   justify-content: space-between;
   padding: 0 10px;
   align-items: center;
   .heading{
    font-weight: 600;
   }
   .newReq{
 background: rgba(0, 0, 128, 1);
 color: white;
 border: none;
 &:active{
  background-color: orange;
  border: #ffffff 1px solid;
 }
   }
    }
    .image{
        
        margin: 0 auto;
        width: fit-content;
        
    }

  
}


.newRequestComponent{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(39, 38, 38, 0.438);
    backdrop-filter: blur(10px);
    height: fit-content;
    z-index: 5;
    padding: 50px 0;
  .newRequestHeader{
    
  width: 800px;
  min-width: 300px;
  
  margin: 0 auto;
  background-color: #ffffff;
  padding-top: 30px;
  .introductionLetter{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
  }

  button.closeButton{
    position: absolute;
    top: 10px;
    width: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    border-radius: 50%;
    
    img{
        width: 30px;
        height: 30px;
        border-radius: inherit;

    }
  }
  }
}

.companyAddressedTo{
  display: flex ;
  flex-direction: column;
  // border: 1px solid rgb(0, 255, 119);
  height: fit-content;
  gap: 50px


}

.formInput{
  display: flex;
  flex-direction: column;
  width: fit-content;
  // border: 1px solid red;
  margin: 0 auto;
  label{
    font-size: 14px;
  }
  input[type="text"]{
    width: 700px;
    height: 45px;
    background: rgba(249, 249, 250, 1);
border: none;
border-radius: 8px;
padding: 20px !important;
font-size: 16px;
&:focus{
  border: 1px solid turquoise;
  outline: none;
  padding: 20px;
}
&::placeholder{
  padding: 20px;
  font-family: "Poppins";
  color: rgba(136, 136, 136, 0.53);
  font-size: 16px;

}
  }
}

.companyDetails{
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;

  .stateofCompany{
    // border: 1px solid red;
    display: flex;
    width: 700px;
    // justify-content: space;
    gap: 30px;
    align-items: stretch;
    input[type="text"]{
      width: 330px;
    }
  }

}
.error{
position: relative;
float: right;
}

.buildNo{
  width: 200px !important;
  // float: left;
  margin: 0 !important;
}