.introductionLetter{
    display: flex;
}

.activen{
color: royalblue !important;
    background-color: white;
}

.container{
    width: 100%;
    margin: 0 auto;
    

    .topHead{
        width: 100%;
        
   display: flex;
   justify-content: space-between;
   padding: 0 10px;
   align-items: center;
   .heading{
    font-weight: 600;
   }
    }
    .image{
        
        margin: 0 auto;
        width: fit-content;
        
    }

  
}


.newRequestComponent{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(39, 38, 38, 0.438);
    backdrop-filter: blur(10px);
    height: 100%;
    z-index: 5;
    .overlay{
        width: 2000px;
        height: 4000px;
        
    }
}