.placementDashboard{
    // border: 1px solid red;
    display: flex;
}


.placement_content{
    width: 150px !important;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status{
    
}

.status_table{
    margin: 0 auto;
    width: fit-content;
}

