.placementDashboard{
    // border: 1px solid red;
    display: flex;
}


.placement_content{
    width: 150px !important;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}



.status_table{
    margin: 0 auto;
    width: fit-content;
}


.letter{
    margin:0px 20px !important;
}

.acceptance{
    // margin-top: 50px !important;
}