.cont{
    width: 100%;
    border: 2px solid red;
}

.scannedLog{
    width: 320px;
padding: 0px 12px 0px 12px;
height: 45px;
gap: 20px;
border-radius: 12px;
border: 1px solid #000080;
opacity: 0px;
}
.weekly{
    display: flex;
align-items: center;
justify-content: space-around;
img{
    width: 20px;
}
}

.letter{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
color: #000080;


}

.logsUpdate{
    background-color: red;

    .daysActions{
.dayCalendar{
    display: flex;
    gap: 10px;
    align-items: center;

    .calendar{
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
    }
}