section{
    margin-top: 20px;
    position: absolute;
    top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 95%;
  .mainBody{
    width: 100%;
  }
  .containerCourse{
    height: 450px;
    overflow-y: scroll;
    -ms-overflow-style: none; 
  scrollbar-width: none;
&::-webkit-scrollbar{
    display: none;
    scrollbar-width: 0;
}
  }
    .heading{
        margin: 0 auto;
        h2{
            color: rgba(0, 0, 128, 1);
            font-size: 20px;
            text-align: center;
        }
    }

    table{
        font-family: "Poppins";
        width: 100%;
        border-radius: 12px !important; 
        display: flex;
        flex-direction: column;
        margin: 35px auto 0;

        font-size: 14px;
        box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
        tbody{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid rgb(214,214,214,0.6);
  
            border-radius: 12px;
         
        }
    }
    table,th,td{
        text-align: center;
        border-collapse: collapse;
      th{
        border: 0;
        font-weight: 600;
      }
    tr{
        
        border-top: 1px solid rgb(214,214,214,0.6);
        width: 100%;
        padding: 20px;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:first-child{
            border: 0;
            
            th{
                width: 150px;

               }
        }
        td{
            width: 100px;
            
            
            .eligibility{
                margin: 0 auto;
                width: fit-content;
                padding: 6px 12px;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 400;
                border-radius: 100px;
                opacity: 0px;
                
            }
            
            button{
                background-color: var(--deep-blue);
                color: var(--white);
                border-radius: 7px;
                cursor: pointer;
                border: 0;
padding: 10px 24px 10px;
text-align: center;
gap: 8px;
opacity: 0px;
&:hover{
    opacity: .8;
}

            }
        }
    }

    }
 }
.eligible{
    background: rgba(0, 128, 0, 0.1);
    color: green;
}
 .ineligible{
    // color: red !important;
    color:wheat;
    background: rgba(239, 62, 6, .2);
    // background: rgba(239, 62, 6, 0.1);
    color: rgba(239, 62, 6);
 }
 .denied{
    pointer-events: none;
    opacity: .2;
 }

 .inactive{
    pointer-events: none;
    opacity: .3;
 }
.register.active{
    color: #ffff;
}

.timer{
    font-size: 10px;
    font-weight: 600;
}

.place{
    // border: 1px solid red ;
    justify-content: end !important;
}


@media (max-width:430px) {
    section{
        width: 99%;
        table{
            width: 600px;
            font-size: 10px;
           
        }
        // table,th,td{
        //     tr{
        //         padding: 15px;
        //         padding-top: 30px;
        //         &:first-child{
        //             th{
        //                width: 100px;
        //                &:nth-child(4),
        //                &:nth-child(5){
                        
        //                 font-size: 10px;
        //                }
        //                &:nth-child(5){
        //                 margin-left: 3px;
        //                }
        //             }
        //         }
        //        td{
        //         &:nth-child(2),
        //         &:nth-child(3){
        //             width: 80px;
        //         }
        //         &:nth-child(4){
        //             // font-size: 8px;
        //             margin-left: 2px;
                
        //         }
        //         &:nth-child(5){
        //             margin-left: 5px;
        //            }
                
        //         .eligibility{
        //             padding: 4px 7px;
        //             font-size: 7px;
        //             font-weight: normal;

        //         }
        //         button{
        //             padding: 8px;
        //             font-size: 8px;
        //         }
        //        }
        //     }
        // }
    }
    section table tr td .eligibility, section th tr td .eligibility, section td tr td .eligibility{
        padding: 2px;
        font-size: 10px;
    }

    .ineligible{
        font-size: 9px;
        padding: 2px 5px;
        margin: 0 5px !important;
    }
    .eligible{
        margin: 0 auto;
        padding:  5px !important;
    }
}