section{
    margin-top: 20px;
    position: absolute;
    top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 88%;
  .mainBody{
    width: 100%;
  }
    .heading{
        margin: 0 auto;
        h2{
            color: rgba(0, 0, 128, 1);
            font-size: 20px;
            text-align: center;
        }
    }

    table{
        font-family: "Poppins";
        // width: 894px;
        width: 100%;
        // transform: scale(.8);
        border-radius: 12px !important; 
        display: flex;
        flex-direction: column;
        margin: 35px auto 0;
        // padding: 20px;
        font-size: 14px;
        box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.1);
        tbody{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid rgb(214,214,214,0.6);
            // padding: 20px;
            border-radius: 12px;
            tr{
                // padding: 20px 0;
            }
        }
    }
    table,th,td{
        text-align: center;
        border-collapse: collapse;
      th{
        border: 0;
        font-weight: 600;
      }
    tr{
        
        border-top: 1px solid rgb(214,214,214,0.6);
        width: 100%;
        padding: 20px;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:first-child{
            border: 0;
            
            th{
                width: 150px;

               }
        }
        td{
            width: 100px;
            
            
            .eligibility{
                margin: 0 auto;
                width: fit-content;
                padding: 6px 12px;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 400;
                border-radius: 100px;
                opacity: 0px;
                
            }
            
            button{
                background-color: var(--deep-blue);
                color: var(--white);
                border-radius: 7px;
                cursor: pointer;
                border: 0;
padding: 10px 24px 10px;
text-align: center;
gap: 8px;
opacity: 0px;
&:hover{
    opacity: .8;
}

            }
        }
    }

    }
 }
.eligible{
    background: rgba(0, 128, 0, 0.1);
    color: green;
}
 .ineligible{
    color: red !important;
    background: rgba(239, 62, 6, 0.1);
 }
 .denied{
    pointer-events: none;
    opacity: .2;
 }

 .inactive{
    pointer-events: none;
    opacity: .3;
 }
.register.active{
    color: #ffff;
}

.timer{
    font-size: 10px;
}