.mainDash{
    display: flex;
    main{
       .dashboardComponent{
        display: flex;
        width: 100%;
        height: 70%;
        justify-content: space-between;
        padding: 10px;
        .trainingLog{
.timelineNlog{
display: flex;
flex-direction: column;
height: 100%;
gap: 50px;
}
        }
       }
    }
}

#thisSchedule{
    border: 1px solid red;
    width: 100%;
    height: 100%;
}