.timeline{
    border: 1px solid red;
    .industrial{
        width: 200px;
        height: 200px;
        background-color: red;
        border-radius: 50%;
        .daysDone{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 128, 1);
            border-radius: inherit;
        }


    }

    .daysCompleted, .daysIncompleted{
        display: flex;
        gap: 10px;
    
align-items: center;
justify-content: center;
        .indicator{
            
            width: 10px;
            height: 10px;
            border-radius: 10px;
        }
        .complete{
            background-color: rgba(0, 0, 128, 1);
        }
        .incomplete{
            background-color: rgba(250, 166, 44, 1);
        }
    }
}