.my-actions button {
    margin: 0 30px;
}
.confirm-button, .cancel-button{
    width: 150px;
    border: none;
}
.wrapper{
    width: 80%;
    // height: 90%;
    // padding: 16px;
    position: absolute;
    top: 12px;
    color: #000;
    background-color: #bbb; //find overlay by Godwin instead
    p{
        margin-left: 95%;
        font-size: 24px;
        cursor: pointer;
    }
    h4{
        text-align: center;
        margin-bottom: 24px;
    }
    sup{
        font-size: 10px;
        color: #f33;
    }
    input{
        width: 79%;
        height: 36px;
        margin-top: 4px;
        margin-bottom: 8px;
        padding-left: 8px;
        border: 1px solid #bbb;
        border-radius: 8px;
        outline: none;
        color: #000;
        background-color: #ccc;
    }
    hr{
        width: 100%;
        position: absolute;
        left: 0;
    }
    form{
        padding-left: 56px;
        div{
            width: 80%;
            display: flex;
            justify-content: space-between;
            input{
                width: 48%;
            }
        }
        .btn{
            color: #fff;
            background-color: rgb(6, 6, 109);
            margin: 32px 0 28px 0;
        }
    }
}
