.statusComponent{
    width: 25%;
    height: auto;
    padding: 18px;
    margin-right: "auto";
    color: #000;
    background-color: #eee;
    position: fixed;
    left: 75%;
    top: 6%;
    h3{
        margin-left: 95%;
        cursor: pointer;
    }
    h5{
        margin-bottom: 12px;
    }
    p{
        color: #888;
    }
}