
:root{
  --button-background: #3a499f;
  --white: #ffff;
  --secondary-button: #FEF7FF;
  --orangeBG: #faa62c;
  --deep-blue: rgba(0, 0, 128, 1);

}

#root{
  width: 100%;
  background-color: var(--white, #ffff);
}


*{
  position: relative;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* background-color: ; */
}


body{
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
width: 100%;
background-color: #ffff;
}



.logo{
  width: 100px;
  /* background-color: #faa62c; */
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center
  ;
  img{
    width: inherit;
  }
}

header{
  .logo{
    background-color: transparent;
    width: 100px;
    img{
      width: 100px;
    }
  }
}


.route-Dash{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  background-color: white;
}


.overlay{
  display: none;
  position: absolute;
  z-index: 100;
  width: 50px;
  height: 200px;
  top: 0;
  left: 0;
}

.empty_dash{
  width: 420px;
}


@media (max-width:430px) {
  .empty_dash{
    margin-top: 150px;
    width: 300px;
  }
}